main {
  background-color: white;
}
.container-slider {
  display: flex;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-top: -183px;
  position: relative;
}

.container-images {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50%;
}

.slider {
  position: absolute;
  transition: opacity 0.5s ease;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 10px;
  opacity: 0;
}

.on {
  opacity: 1;
}

#prev-button,
#next-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 10;
  background-color: #001f54;
}

#prev-button {
  left: 55px;
}

#next-button {
  right: 55px;
}

.lista-ofertas {
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
  font-family: Inter;
}

.lista-ofertas a,
.identacao-recomendacao a {
  margin-left: 16px;
  text-decoration: none;
  color: #0A3871;
  cursor: pointer;
  z-index: 20;
}

.lista-ofertas p {
  margin-left: 15px;
}

.lista-recomendacoes {
  display: flex;
  align-items: center;
}

.lista-recomendacoes p {
  margin-bottom: 30px;
}

.images-lista-ofertas,
.images-lista-recomendacoes,
.images-lista-vendidos,
.images-talvez-goste {
  display: flex;
  transition: transform 0.5s ease;
  width: max-content;
}

.images-lista-ofertas img,
.images-lista-recomendacoes img,
.images-lista-vendidos img,
.images-talvez-goste img {
  width: 150px;
  height: 200px;
  object-fit: cover;
  margin-right: 8px;
  border-radius: 5px;
}

#prev-button2,
#next-button2 {
  position: absolute;
  top: 85%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 10;
  background-color: #001f54;
}

#prev-button2,
#prev-button3,
#prev-button4,
#prev-button5 {
  left: 55px;
}

#next-button2,
#next-button3,
#next-button4,
#next-button5 {
  right: 55px;
}

.sem-margem {
  margin-top: -167px;
}

.categorias p,
.identacao-recomendacao p,
.identacao-vendidos p,
.identacao-talvez p {
  font-family: Inter;
  margin-left: 10px;
  margin-top: 30px;
}

.categorias {
  margin-left: 35px;
}

.img-categoria img {
  width: 170px;
  height: 170px;
  margin-top: 20px;
  border-radius: 50%;
  margin-left: 10px;
  flex-shrink: 0;
}

.img-categoria {
  display: flex;
  align-items: center;
  overflow: hidden;
}

#prev-button3,
#next-button3 {
  position: absolute;
  top: 155%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 10;
  background-color: #001f54;
}

.images-lista-recomendacoes img,
.images-lista-vendidos img,
.images-talvez-goste img {
  width: 150px;
  height: 200px;
  object-fit: cover;
  margin-right: 4px;
  border-radius: 5px;
}

.images-lista-recomendacoes {
  overflow: hidden;
}

.images-lista-vendidos,
.images-talvez-goste {
  display: flex;
  overflow: hidden;
  position: relative;
}

#prev-button3 img,
#next-button3 img,
#prev-button4 img,
#next-button4 img,
#prev-button5 img,
#next-button5 img {
  width: 30px;
  height: 30px;
  background-color: #001f54;
  border: none;
  cursor: pointer;
  z-index: 10;
  position: absolute;
  transform: translateY(-50%);
}

.mais-vendidos {
  width: 150px;
  margin-right: 4px;
  transition: transform 0.5s ease;
}

.identacao-vendidos,
.identacao-talvez {
  height: 100vh;
  overflow-y: auto;
}

#prev-button4,
#next-button4 {
  position: absolute;
  top: 190%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 10;
  background-color: #001f54;
}

body {
  overflow-x: hidden;
}

.identacao-vendidos,
.identacao-talvez {
  overflow: hidden;
}

.identacao-vendidos,
.identacao-talvez {
  height: auto;
  overflow: hidden;
  margin-bottom: 0;
  padding: 0;
}

#prev-button5,
#next-button5 {
  position: absolute;
  top: 220%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 10;
  background-color: #001f54;
}

.lado-a-lado2 {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-between;
  margin-top: 40px;
}

.quadrado {
  background-color: rgb(236, 228, 228);
  width: 300px;
  height: 310px;
  box-sizing: border-box;
  padding: 10px 10px 10px 20px;
  margin-bottom: 30px;
}

.lado-a-lado {
  display: flex;
  gap: 10px;
}

.quadrado img {
  width: 120px;
  height: 120px;
  object-fit: cover;
}

.quadrado p {
  font-family: Inter;
  font-weight: bold;
  margin-bottom: 3px;
}

.infor-historico {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 10px;
}

.infor-historico p {
  font-family: Inter;
}

.infor-historico a {
  text-decoration: none;
  font-family: Inter;
  color: #0A3871;
}

.img-historico {
  display: flex;
  align-items: center;
}

.rodape {
  display: flex;
  margin-top: 50px;
}

.img-historico img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-top: 10px;
}

.redes-sociais img {
  width: 170px;
  margin-left: 20px;
}

.navegacao a {
  display: block;
  margin-top: 5px;
  text-decoration: none;
  color: black;
  font-family: Inter;
  font-size: 14px;
}

.navegacao p {
  font-family: Inter;
  font-size: 17px;
  margin-bottom: 12px;
}

.navegacao {
  margin-left: 50px;
  margin-bottom: 100px;
  margin-right: 50px;
}

.resultado-container {
  margin-left: 200px;
  flex: 1;
}

/* Layout Principal */
main {
  display: flex;
  gap: 60px;
}

/* Sidebar (Aside) */
aside {
  width: 20%;
  height: 1000px;
  background-color: #f1f1f1;
  padding: 5px;
  border-left: 2px solid #ccc;
}

/* Conteúdo Principal (Article) */
article {
  width: 70%;
  padding-top: 60px;
}

/* Frete Grátis */
.frete-gratis-container {
  margin-bottom: 20px;
}

.frete-gratis-text {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
}

.frete-gratis-checkbox {
  display: flex;
  align-items: center;
}

.frete-gratis-checkbox input[type="checkbox"] {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

.frete-gratis-checkbox label {
  font-size: 18px;
}

/* Categoria */
.categoria {
  margin: 5px 0.8px 20px;
}

.categoria label {
  font-size: 16px;
  margin-right: 20px;
}

.categoria select {
  font-size: 14px;
  padding: 5px 10px;
  width: 200px;
}

/* Preço */
.price-range-container {
  width: 300px;
  margin: auto;
  text-align: left;
  margin-bottom: 20px;
}

input[type="range"] {
  width: 98%;
  appearance: none;
  background: #e0e0e0;
  height: 7px;
  border-radius: 5px;
  outline: none;
}

input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  width: 20px;
  height: 20px;
  background: #104281;
  cursor: pointer;
  border-radius: 50%;
}

/* Opções (Ofertas e Condições) */
.opcao {
  margin-bottom: 20px;
}

.opcao h3 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
}

.opcao .checkbox-container {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.opcao input[type="checkbox"] {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

.opcao label {
  font-size: 18px;
}

/* Botão de Busca */
.buscar-btn {
  background-color: #104281;
  color: white;
  padding: 10px 118px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
}

.buscar-btn:hover {
  background-color: #0a3461;
}

/* Estilos Globais */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #ffffff;
  color: #333;
}

.container {
  width: 100%;
  margin: 0 auto;
}

/* Carrossel */
.carousel-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.carousel {
  width: 50%;
  height: 200px;
  display: flex;
  overflow: hidden;
  position: relative;
}

.carousel-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: absolute;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.carousel-img.active {
  opacity: 1;
}

/* Resultados da Busca */
.resultados {
  display: flex;
  flex-wrap: wrap; /* Permite que os itens se movam para a próxima linha, se necessário */
  justify-content:flex-start;
}

.resultados ul {
  display: flex;
  flex-wrap: wrap;
  gap: 70px;
  padding: 0;
  list-style: none;
}

.resultados li {
  flex: 1 1 20%;
  max-width: 220px;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  background-color: #f9f9f9;
}

.resultados li img {
  width: 100%;
  height: auto;
  max-height: 180px;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 10px;
}

.resultados li p {
  margin: 10px 0;
}

.resultados li strong {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

.resultados li .preco {
  color: #007bff;
  font-size: 18px;
  font-weight: bold;
}

.resultados li .preco::before {
  content: "R$";
}

.resultados li .produto-nome {
  font-size: 16px;
  color: #333;
}
.product-item {
  margin: 10px; /* Espaço entre os itens */
  flex: 0 0 150px; /* Define a largura de cada item e permite o crescimento e encolhimento */
  box-sizing: border-box; /* Inclui padding e borda na largura definida */
}
/* Cartões de Produto */
.card {
  width: 240px;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  text-align: center;
  margin: 10px;
}

.imgbg {
  background-color: #333;
  height: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: bold;
}

.price {
  font-size: 18px;
  margin: 5px 0;
}
a{
  text-decoration: none;
  color: black;
}
