@font-face {
    font-family: 'Inter';
    src: url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
    font-display: swap;
}

:root {
    /* Variáveis de Cor */
    --color-primary: #004382;
    --color-secondary: #18344F;
    --color-darkblue: #001C36;
    --color-blue-4: #275682;
    --color-blue-5: #006BCF;
    --color-nav: #0a3a6a;
    --color-orange: #FF7F00;
    --color-light-orange: #FFA500;
}

/*Medidas*/
.rem-4 { font-size: 0.4rem; } .rem-5 { font-size: 0.5rem; } .rem-6 { font-size: 0.6rem; } .rem-7 { font-size: 0.7rem; } .rem-8 { font-size: 0.8rem; } .rem-9 { font-size: 0.9rem; } .rem-10 { font-size: 1rem; } .rem-12 { font-size: 1.2rem; } .rem-14 { font-size: 1.4rem; } .rem-16 { font-size: 1.6rem; } .rem-18 { font-size: 1.8rem; } .rem-20 { font-size: 2rem; } .rem-24 { font-size: 2.4rem; } .rem-28 { font-size: 2.8rem; } .rem-32 { font-size: 3.2rem; }

/*
O uso do `&` (e comercial) referencia o seletor pai dentro do aninhamento,
facilitando a aplicação de estilos específicos de forma concisa e legível.
Exemplo: `&:hover` se refere ao estado de hover do seletor pai.
*/

.show {
    opacity: 1;
    visibility: visible;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    font-family: 'Inter', sans-serif;
    background-image: linear-gradient(to top, #f5f5f5, #000000);
    background-repeat: no-repeat;
}


/*Logo*/
.express-logo img{
    width: auto;
    height: 40px;
    border: 0.5px solid transparent;
    padding: 2px;

    &:hover {
        border: 0.5px solid #ffffff;
        cursor: pointer;
    }
}

/*NAV*/

.nav-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 70px; max-height: 70px;
    background-color: var(--color-darkblue);
    padding-left: 80px;
    gap: 60px;
    position: sticky;
    top: 0;
    z-index: 100;
    width: 100%;

    & .nav-item {
        display: flex;
        align-items: center;
        padding: 5px 10px;
        height: 100%;
        width: auto;
        border: 0.5px solid transparent;
    }

    & .nav-item p {
        width: 100%;
        color: white;
        font-weight: 500;
    }

    & .nav-item:hover {
        cursor: pointer;
        border: 0.5px solid white;
    }

    .wrap {
        margin: 0;

        &::before {
            content: 'Olá,\A ';
            white-space: pre-line;
            color: #959595;
        }
    }

    & .nav-item img {
        margin-right: 10px;
        min-width: 20px;
    }
}



/*Form POPUP*/

.form {
    transition: opacity 0.3s ease, visibility 0.3s ease;
    opacity: 0;
    /*visibility: hidden;*/
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 70px;
    right: 300px;
    gap: 10px;
    background-color: #ffffff;
    padding: 2px;
    width: 250px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 2;
    height: 130px;
}

.form.show {
    opacity: 1;
    visibility: visible;
}

.form button {
    align-self: center;
}

.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    justify-content: center;
}

.button-submit {
    margin: 20px 0 10px 0;
    background-color: var(--color-orange);
    border: none;
    color: white;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 10px;
    height: 30px;
    width: 200px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button-submit:hover {
    background-color: var(--color-light-orange);
}

.p {
    text-align: center;
    color: black;
    font-size: 14px;
    margin: 5px 0;
}

.span {
    color: var(--color-blue-5);
    cursor: pointer;
    text-decoration: underline;
}

/*Fim do PopUp*/
.botton-nav {
    display: flex;
    width: 100%;
    background-color: var(--color-nav);
    height: 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    align-items: center;
    padding-left: 110px;
    position: relative;
    z-index: 2;


    & .menu {
        display: flex;
        flex-direction: row;
        gap: 20px;
        color: white;
        align-items: center;
    }

    & .option {
        display: flex;
        align-items: center;
        gap: 5px;
        padding: 5px 10px;
        border: 0.5px solid transparent;
    }

    & .option:hover {
        cursor: pointer;
        border: 0.5px solid white;
    }

    & p {
        font-size: 0.9rem;
    }
}

/*Search Bar - NAV*/

.search-container {
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Alterado para flex-start */
    height: 40px;
    margin: 0; /* Garantir que não haja margens */
}

.search-container input {
    border: none;
    outline: none;
    width: 400px;
    height: 100%;
    font-size: 14px;
    padding: 0 10px; /* Ajuste de padding */
    border-radius: 10px 0 0 10px;
    transition: border 0.5ms linear;

    &:focus {
        border: 3px solid var(--color-orange);
    }
}

.search-icon {
    display: flex;
    background-color: var(--color-orange);
    height: 40px;
    width: 50px;
    justify-content: center;
    align-items: center;
    border-radius: 0 10px 10px 0;

    & img {
        width: 25px;
        height: 25px;
        background-size: cover;
        background-repeat: no-repeat;
    }

    &:hover {
        cursor: pointer;
        background-color: var(--color-light-orange);
    }
}
/*Fim na NAV*/

/*Carrosel de Imagens*/
.baba {
    width: 100%;
    position: relative;
}
.carousel {
    height: 600px;
    overflow: hidden;
    position: relative;
}
.slider {
    display: flex;
    position: relative;
    height: 100%;
    width: 1000%;
    transition: all 0.7s;

    & section img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

}
.slider section {
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slider-controls .arrow {
    position: absolute;
    top: 20%;
    transform: translateY(-50%);
    cursor:pointer;
    border: 1px solid transparent;
}
.arrow.left {
    left:1px;
    padding: 10% 10px;
    font-size: 50px;
    user-select: none;

    &:hover {
        border: 1px solid white;
    }

}
.arrow.right {
    right:1px;
    padding: 10% 10px;
    font-size: 50px;
    user-select: none;

    &:hover {
        border: 1px solid white;
    }
}

.slider-controls ul {
    position: absolute;
    top: 300px;
    left: 50%;
    transform: translate(-50%);
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}
.slider-controls ul li {
    width: 15px;
    height: 15px;
    border: 1px solid #232323;
    border-radius: 50%;
    margin: 3px;
    background: transparent;
    cursor: pointer;
}
.slider-controls ul li.selected {
    background: white;
}

.category {
    display: flex;
    justify-content: center;
    flex-direction: row;
    position: absolute;
    width: 100%;
    height: 300px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 30%, rgba(255, 255, 255, 1) 50%);
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;

    & .category-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 200px;
        height: 200px;
        margin: 10px;
        padding: 10px;
        z-index: 2;
        transition: transform 0.1s ease-in-out;

        &:hover {
            cursor: pointer;
            transform: scale(1.05);

        }

        & img {
            border-radius: 50px;
            background-size: cover;
        }

    }
}

.popup-todos {
    width: 100%;
    height: 30px;
    padding-left: 102px;
    /*background-color: ;*/
    /*background-color: rgba(39, 39, 39, 0.7); !* Fundo branco semi-transparente *!*/
    backdrop-filter: blur(20px); /* Aplicando desfoque */
    -webkit-backdrop-filter: blur(10px); /* Suporte para navegadores baseados em WebKit */

    position: absolute;
    z-index: 1;
    top: 50px;
    transition: ease 0.3s;

    & .categoria ul{
        display: flex;
        flex-direction: row;
        justify-content: left;
        gap: 10px;
        list-style: none;
    }

    & .categoria ul li {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 0.5px solid transparent;
        padding: 5px 20px;

        & a {
            color: white;
            font-size: 1rem;
            font-weight: 500;
            text-decoration: none;
        }
    }

    & .categoria ul li:hover {
        cursor: pointer;
        border: 0.5px solid white;
        /*background: var(--color-blue-5);*/
    }

}

.produto-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
    gap: 20px;
    background-color: white;
    align-items: center;




    & .destaque {
        display: flex;
        flex-direction: row;
        gap: 20px;

        & .destaques {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            gap: 10px;
            padding: 10px;
            border-radius: 10px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            transition: transform 0.1s ease-in-out;

            & .discount{
                display: flex;
                justify-content: center;
                align-items: center;
                width: auto;
                height: auto;
                padding: 5px;
                bottom: 0;
                border-radius: 10px;
                background-color: var(--color-blue-4);

                & p {
                    text-align: center;
                    font-size: 0.7rem;
                    color: white;
                }
            }

            &:hover {
                cursor: pointer;
                transform: scale(1.05);
            }

            & img {
                width: 200px;
                height: auto;
                /*max-width: 180px;*/
                image-rendering: high-quality;
                image-resolution: from-image;
                align-self: center; !important;
            }

            & p:nth-child(2) {
                margin-top: 10px;
                align-self: start;
            }

        }
    }

    & .title {
        display: flex;
        align-self: center;
        padding-right: 1060px;

        & h2 {
            font-size: 1.1rem;
            font-weight: bold;
        }

        & p {
            font-size: 1rem;
            color: var(--color-blue-4);
            margin-left: 10px;

            &:hover {
                cursor: pointer;
                text-decoration: underline;
            }

        }
    }

    & .price {
        display: flex;
        position: relative;
        bottom: 0;
        color: black;


        span:nth-child(1) {
            font-size: 0.9rem;
        }

        span:nth-child(2) {
            font-size: 1.2rem;

        }
        span:nth-child(3){
            font-size: 0.9rem;
            margin-left: 10px;
            text-decoration: line-through;
            color: #959595;
        }
    }
}

/*FOOTER */

.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 80px;
    padding: 20px;
    height: 250px;
    background-color: white;
    color: black;
    border-top: 1px solid #d3d3d3;

    & img {
        width: 200px;
        height: auto;
    }

}

.footer-item {
    display: flex;
    flex-direction: column; /* Para empilhar os links verticalmente */
    align-items: flex-start; /* Alinha os itens à esquerda */
    height: 150px;

    &:first-child {
        align-items: center;
        margin-right: 50px;
    }

    & h3{
        font-size: 1rem;
        font-weight: bold;
        margin-bottom: 10px;
    }

    & .payments {
        width: 180px;
        margin-right: 10px;
    }
}

.footer-item a {
    text-decoration: none;
    color: black;
    margin: 5px 0;
    transition: all 0.3s;
    font-size: 0.9rem;
    border-bottom: 1px solid transparent;
}

.footer-item a:hover {
    color: orange;
    border-bottom: 1px solid orange;
}



