* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #001f54;
  padding: 10px;
  color: white;
  font-family: Inter;
  position: relative;
  z-index: 10;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.logo a {
  font-size: 20px;
  color: white;
  text-decoration: none;
  font-family: 'Inter', sans-serif;
  font-weight: italic;
}

.logo {
  display: flex;
  align-items: center;
}

.location a {
  color: white;
  text-decoration: none;
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  margin-top: 4px;
}

.location {
  display: flex;
  align-items: center;
  margin-left: 30px;
}

.searchbar {
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: flex-start;
  margin: 0 20px;
}

.searchbar input {
  padding: 5px 15px;
  font-size: 14px;
  width: 100%;
  max-width: 500px;
  height: 38px;
  border-radius: 10px 0 0 10px;
  border: none;
  box-sizing: border-box;
}

.searchbar input:focus {
  border: 2px solid orange;
  outline: none;
}

.searchbar button {
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
  border: none;
  border-radius: 0 10px 10px 0;
  background-color: orange;
  color: white;
  height: 38px;
  box-sizing: border-box;
}

.searchbar button:hover {
  background-color: rgb(240, 157, 4);
}

.contas p {
  font-family: Inter; 
  color: rgb(184, 178, 178);
}

.contas, 
.pedidos {
  display: flex;
  flex-direction: column;
}

.contas {
  position: relative;
  margin-left: 10px;
}

.tooltip {
  display: none;
  position: absolute;
  bottom: -55px;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  color: black;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1;
  flex-direction: column;
}

.tooltip button {
  background-color: rgb(255, 213, 0);
  color: black;
  border: none;
  width: 200px;
  padding: 5px 10px;
  border-radius: 10px;
  cursor: pointer;
}

.contas:hover .tooltip {
  display: flex;
}

.inline {
  display: flex;
  gap: 10px;
  font-size: 12px;
}

.tooltip p {
  color: black;
  font-size: 13px;
}

.contas a, 
.pedidos a,
.carrinho a {
  color: white;
  text-decoration: none;
  font-family: Inter;
  font-weight: bold;
  font-size: 18px;
}

.pedidos {
  margin-left: 20px;
}

.divs {
  display: flex;
  margin-right: 20px;
}

.carrinho {
  margin-left: 20px;
  display: flex;
  align-items: center;
}

.carrinho img {
  height: 40px;
  cursor: pointer;
}

.subnav {
  display: flex;
  align-items: center;
  background-color: #0A3871;
  padding-bottom: 4px;
}

.todos,
.venda-na-express,
.comprar-novamente,
.oferta-do-dia {
  font-family: Inter;
  margin-right: 10px;
  color: white;
  padding: 2px 10px;
  cursor: pointer;
}

.subnav div {
  position: relative;
  z-index: 20; 
  cursor: pointer;
}

.todos {
  display: flex;
  align-items: center;
}

.todos p {
  margin-left: 3px;
}

.logo1 {
  width: 130px;
  height: 30px;
  margin-left: 5px;
}

.container-slider {
  display: flex;
  width: 100%;
  height: 100vh; 
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-top: -183px;
  position: relative; 
}

.container-images {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50%;
}

.slider {
  position: absolute;
  transition: opacity 0.5s ease; 
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 10px;
  opacity: 0;
}

.on {
  opacity: 1;
}

#prev-button, #next-button {
  position: absolute; 
  top: 50%;
  transform: translateY(-50%); 
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 10;
  background-color: #001f54;
}

#prev-button {
  left: 55px; 
}

#next-button {
  right: 55px;
}

.lista-ofertas {
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
  font-family: Inter;
}

.lista-ofertas a, .identacao-recomendacao a {
  margin-left: 16px;
  text-decoration: none;
  color: #0A3871;
  cursor: pointer;
  z-index: 20;
}

.lista-ofertas p {
  margin-left: 15px;
}
.lista-recomendacoes {
  display: flex;
  align-items: center;
}
.lista-recomendacoes p{
  margin-bottom: 30px;
}
.images-lista-ofertas, .images-lista-recomendacoes, .images-lista-vendidos, .images-talvez-goste{
  display: flex; 
  transition: transform 0.5s ease;
  width: max-content; 
}

.images-lista-ofertas img, .images-lista-recomendacoes img, .images-lista-vendidos img, .images-talvez-goste img{
  width: 150px; 
  height: 200px; 
  object-fit: cover; 
  margin-right: 8px;
  border-radius: 5px; 
}

#prev-button2, #next-button2 {
  position: absolute; 
  top: 85%;
  transform: translateY(-50%); 
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 10;
  background-color: #001f54;
}

#prev-button2, #prev-button3, #prev-button4, #prev-button5 {
  left: 55px;
}

#next-button2, #next-button3, #next-button4, #next-button5 {
  right: 55px;
}

.sem-margem {
  margin-top: -167px;
}

.categorias p, .identacao-recomendacao p, .identacao-vendidos p, .identacao-talvez p {
  font-family: Inter;
  margin-left: 10px;
  margin-top: 30px;
}

.categorias {
  margin-left: 35px;
}

.img-categoria img {
  width: 170px;
  height: 170px;
  margin-top: 20px;
  border-radius: 50%;
  margin-left: 10px;
  flex-shrink: 0;
}

.img-categoria {
  display: flex;
  align-items: center;
  overflow: hidden; 
}

#prev-button3, #next-button3 {
  position: absolute; 
  top: 155%;
  transform: translateY(-50%); 
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 10;
  background-color: #001f54;
}

.images-lista-recomendacoes img, .images-lista-vendidos img, .images-talvez-goste img{
  width: 150px;
  height: 200px;
  object-fit: cover;
  margin-right: 4px;
  border-radius: 5px; 
}

.images-lista-recomendacoes {
  overflow: hidden;
}

.images-lista-vendidos, .images-talvez-goste{
  display: flex;
  overflow: hidden;
  position: relative;
}
#prev-button3 img, #next-button3 img, #prev-button4 img, #next-button4 img, #prev-button5 img, #next-button5 img{
  width: 30px;  
  height: 30px; 
  background-color: #001f54; 
  border: none; 
  cursor: pointer; 
  z-index: 10; 
  position: absolute; 
  transform: translateY(-50%); 
}
.mais-vendidos{
  width: 150px; 
  margin-right: 4px; 
  transition: transform 0.5s ease; 
}
.identacao-vendidos, .identacao-talvez{
  height: 100vh; 
  overflow-y: auto;
}
#prev-button4, #next-button4 {
  position: absolute; 
  top: 190%;
  transform: translateY(-50%); 
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 10;
  background-color: #001f54;
}
body {
  overflow-x: hidden; 
}
.identacao-vendidos, .identacao-talvez{
  overflow: hidden;
}
.identacao-vendidos, .identacao-talvez{
  height: auto; 
  overflow: hidden; 
  margin-bottom: 0;
  padding: 0;
}
#prev-button5, #next-button5 {
  position: absolute; 
  top: 220%;
  transform: translateY(-50%); 
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 10;
  background-color: #001f54;
}
.lado-a-lado2 {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; 
  justify-content: space-between;
  margin-top: 40px; 
}

.quadrado {
  background-color: rgb(236, 228, 228);
  width: 300px; 
  height: 310px; 
  box-sizing: border-box;
  padding: 10px 10px 10px 20px; 
  margin-bottom: 30px;
}

.lado-a-lado {
  display: flex;
  gap: 10px;
}

.quadrado img {
  width: 120px; 
  height: 120px;
  object-fit: cover;
}

.quadrado p {
  font-family: Inter;
  font-weight: bold;
  margin-bottom: 3px;
}
.infor-historico {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 10px;
}
.infor-historico p {
  font-family: Inter;
}
.infor-historico a{
  text-decoration: none;
  font-family: Inter;
  color: #0A3871;
}
.img-historico {
  display: flex;
  align-items: center;
}
.img-historico img{
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-top: 10px;
  margin-bottom: 10px;
}
