@font-face {
    font-family: 'Inter';
    src: url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}


header {
    background-color: #001f54;
    padding: 10px;
    color: white;
    position: relative;
    z-index: 10;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.logo:hover {
    cursor: pointer;
}

.location a {
    color: white;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    margin-top: 4px;
}

.location {
    display: flex;
    align-items: center;
    margin-left: 30px;
}

.searchbar {
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: flex-start;
    margin-left: 100px; /* Ajustado para melhor responsividade */
    margin-right: 20px; /* Ajustado para melhor responsividade */
}

.searchbar input {
    padding: 5px;
    font-size: 14px;
    width: 100%; /* Ajusta a largura do input conforme o tamanho da tela */
    max-width: 500px; /* Largura máxima para telas maiores */
    height: 38px;
    padding-left: 15px;
    border-radius: 10px 0 0 10px;
    border: none;
    box-sizing: border-box;
}

.searchbar input:focus {
    border: 2px solid orange;
    outline: none;
}

.searchbar button {
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
    border: none;
    border-radius: 0 10px 10px 0;
    background-color: orange;
    color: white;
    height: 38px;
    box-sizing: border-box;
}

.searchbar button:hover {
    background-color: rgb(240, 157, 4);
}

.contas p {
    font-family: Inter; 
    color: rgb(184, 178, 178);
  }
  
  .contas, 
  .pedidos {
    display: flex;
    flex-direction: column;
  }
  
  .contas {
    position: relative;
    margin-left: 10px;
  }
  
  .tooltip {
    display: none;
    position: absolute;
    bottom: -55px;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    color: black;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
    flex-direction: column;
  }
  
  .tooltip button {
    background-color: rgb(255, 213, 0);
    color: black;
    border: none;
    width: 200px;
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
  }
  
  .contas:hover .tooltip {
    display: flex;
  }
  .inline p {
    font-family: Inter;
  }
  .inline {
    display: flex;
    gap: 10px;
    font-size: 12px;
  }
  
  .tooltip p {
    color: black;
    font-size: 13px;
  }
  
  .contas a, 
  .pedidos a,
  .carrinho a {
    color: white;
    text-decoration: none;
    font-family: Inter;
    font-weight: bold;
    font-size: 18px;
  }
  
  .pedidos {
    margin-left: 20px;
  }
  
  .divs {
    display: flex;
    margin-right: 20px;
  }
  
  .carrinho {
    margin-left: 20px;
    margin-right: 15px;
    display: flex;
    align-items: center;
  }
  
  .carrinho img {
    height: 40px;
    cursor: pointer;
  }

.subnav{
    display: flex;
    align-items: center;
    background-color: #0A3871;
    padding-bottom: 4px;
}

.todos,
.venda-na-express,
.comprar-novamente,
.oferta-do-dia{
    margin-right: 10px;
    color: white;
    cursor: pointer;
    padding: 2px 10px;
}

.todos {
    display: flex;
    align-items: center;
}

.todos p {
    margin-left: 3px;
}
.subnav
.container-slider {
    display: flex;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-top: -183px;
    position: relative;
}

.container-images {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50%;
}

.slider {
    position: absolute;
    transition: opacity;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 10px;
    opacity: 0;
}

.on {
    opacity: 1;
}
#prev-button, #next-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    cursor: pointer;
    z-index: 10;
    background-color: #001f54;
}

#prev-button {
    left: 55px;
}

#next-button {
    right: 55px;
}

#prev-button img, #next-button img {
    width: 30px;
    height: 30px;
}

/* Main */



/*Pricing Container*/

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    width: 100%;
    height: 100%;
}

article {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 1400px;
    border-radius: 8px;
    padding: 20px;
}


.right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 700px;
    padding-top: 60px;
}

.product {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 20px;

}

.pricing-container {
    display: flex;
    align-items: center;
    text-align: left;
    width: auto;
}

.minimal-description {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 30px;
}

/*Textos*/

.product h2 {
    color: #000000;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
    width: 700px;
    word-wrap: break-word;
}

.pricing {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
    gap: 10px;
}

.old_price {
    color: #AEAEAE;
    font-size: 20px;
    text-decoration: line-through;
}

.actual_price {
    color: #000000;
    font-size: 30px;
    font-weight: bold;
}

.installment {
    color: #000000;
    font-size: 18px;
}

.discount {
    justify-content: center;
    align-items: center;
}


.discount .discount-price {
    color: #000000;
    font-size: 30px;
    font-weight: bold;
    width: 300px;
}

.discount p {
    color: #000000;
    font-size: 20px;
}

.minimal-description p {
    color: #000000;
    font-size: 15px;
}

.minimal-description ul {
    list-style-type: none;
    margin-top: 20px;
}

.minimal-description ul li {
    color: #7B7B7B;
    margin-bottom: 8px;
}

/*Linha Vertical*/
.vertical-line {
    border-left: 2px solid black; /* Define a borda da linha */
    height: 100px; /* Define a altura da linha */
    margin: 0 60px;
}

/*Buttons*/
.action-buttons {
    display: flex;
    gap: 40px;
    margin-top: 20px;
}

.action-buttons .btn-final {
    background-color: #001f54;
    color: white;
    font-size: 15px;
    font-weight: 500;
    padding: 10px 20px;
    border: none;
    border-radius: 13px;
    cursor: pointer;
    min-width: 250px;
    min-height: 45px;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.addtocart {
    background-color: white;
    color: #000000;
    font-size: 15px;
    font-weight: 500;
    padding: 10px 20px;
    border: 2px solid #001f54;
    border-radius: 13px;
    cursor: pointer;
    min-width: 250px;
    min-height: 45px;
    transform: scale(1.05);
}

.buynow:hover {
    animation: linear 1s;
    background-color: #ffffff;
    color: #000000;
    border: 2px solid #001f54;
    transform: scale(1.05);
}

.description {
    display: block;
    margin-top: 20px;
    width: 100%;
}


/*Section*/
section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    padding: 0 30px;
    margin-bottom: 60px;
}

.description p {
    margin-top: 15px;
    text-align: justify;
    font-family: 'Inter', "Segoe UI", sans-serif;
}

.description-text {
    margin-bottom: 10px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
    width: 300px;
    margin-top: 20px;
    padding: 20px;
    border-radius: 8px;
    /*box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);*/
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.card:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
    cursor: pointer;
}

.price {
    margin-top: 10px;
    color: #0A3871;
}

/*Card Image*/
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

/* Estilo da imagem de fundo */
.imgbg {
    width: 100%;
    height: 200px;
    background-color: #000000;
    border-radius: 10px;
    margin: 0 auto 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    text-align: center;
}

/*Footer */
#containerFooter
{
    width: 100%;
    background-color: #001f54;
    color: white;
    letter-spacing: 1px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-transform: uppercase;
    font-size: 15px;
    padding: 15px 300px;
    box-sizing: border-box;
}
#containerFooter h3, #containerFooter p:hover
{
    color: lightslategray;
    cursor: pointer;
}
#webFooter
{
    padding-top: 30px;
    font-size: 12px;
}

#webFooter h3 {
    margin-bottom: 10px;
}

#webFooter p {
    margin-bottom: 5px;
}

#credit a
{
    color: white;
    text-decoration: none;
    position: relative;
}
#credit a::after
{
    content: "";
    background: white;
    mix-blend-mode: exclusion;
    width: calc(100% + 18px);
    height: 0;
    position: absolute;
    bottom: -4px;
    left: -10px;
    transition: all .3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
#credit a:hover::after
{
    height: calc(100% + 8px)
}

.flogo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 100px;
}

/*Espaçamento*/
.pd-top-bottom {
    padding: 80px 0;
}

/*Posicionamento*/
.tx-25 {
    font-size: 25px;
}

.product-image {
    visibility: hidden;
}

