/* stylesheets/atualizar_produto.css */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    color: #333;
}

section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.product-image img {
    width: 200px;
    border-radius: 8px;
}

.product-details {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr;
}

.product-details > div {
    display: flex;
    flex-direction: column;
}

.product-details label {
    font-weight: bold;
    margin-bottom: 5px;
}

.product-details input[type="text"],
.product-details input[type="number"],
.product-details textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.product-details textarea#descricao,
.product-details textarea#dados_produto {
    height: 150px;
}

.product-details input[type="checkbox"] {
    align-self: flex-start;
    margin-top: 8px;
}

/* Specific field arrangement */
.product-name,
.product-description,
.product-data,
.product-price,
.product-discount-price,
.product-stock,
.product-frete {
    grid-column: span 2;
}

.product-offer + .product-shipping {
    margin-top: -20px; /* Adjust spacing */
}

/* Align buttons side by side */
.product-actions,
.product-close {
    display: inline-block;
    width: 48%;
    text-align: center;
}

.product-actions {
    float: left;
}

.product-close {
    float: right;
}

.product-close button {
    padding: 15px;
    border: none;
    border-radius: 4px;
    background-color: #ff0000b1;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    width: 50%;
    box-sizing: border-box;
    position: relative;
    top: -46px;
    float: right;
}



.product-actions button {
    padding: 15px;
    border: none;
    border-radius: 4px;
    background-color: #018f22c6;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    width: 50%;
    box-sizing: border-box;
    float: left;
}



.product-actions button:hover,
.product-close button:hover {
    opacity: 0.9;
}





