* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}

header {
    width: 100%;
    background-color: #0A3871;
    padding: 20px 100px;
}

.banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 20px;
    max-width: none;
}

.logo img {
    width: 150px;
    margin-left: 100px;
}


.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    padding: 50px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    position: absolute;
    left: 100px;
    top: 125px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #000000;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    margin-top: 10px;
}

thead {
    background-color: #f1f1f1;
    color: #000000;
}

thead th {
    padding: 10px;
    font-size: 16px;
}

tbody tr {
    border-bottom: 1px solid #e8e8e8;
}

tbody td {
    padding: 12px;
    text-align: center;
    font-size: 14px;
    color: #000000;
}



p {
    text-align: center;
    color: #999;
    font-size: 18px;
    margin-top: 20px;
}

button:hover {
    background-color: #244ab9;
}

.resumo-compra-container {
    width: 450px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: absolute;
    right: 160px;
    top: 125px;
}

.resumo-compra-container h2 {
    font-size: 18px;
    font-weight: 600;
    color: #000000;
    margin-bottom: 20px;
}

.resumo-compra-container .preco-detalhe {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-size: 16px;
}

.resumo-compra-container .preco-detalhe p {
    margin: 0;
    color: #5a5a5a;
}

.resumo-compra-container .total {
    color: black;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid #e8e8e8;
}

.resumo-compra-container .btn-continuar {
    display: block;
    width: 100%;
    padding: 12px;
    font-size: 16px;
    color: #fff;
    background-color: #006BCF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    margin-top: 20px;
    transition: background-color 0.3s;
}

.resumo-compra-container .btn-continuar:hover {
    background-color: #006BCF;
}

/* Estilos para o flip-card */
/* Estilos para o flip-card */
.flip-card {
    background-color: transparent;
    width: 240px;
    height: 154px;
    perspective: 1000px;
    color: rgb(255, 255, 255);
    margin: 20px auto;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    box-shadow: 0 8px 14px 0 rgba(255, 255, 255, 0.2);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 1rem;
}

.flip-card-front {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 2px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -1px 0px inset;
    background-color: #ffa600a0;
    padding: 10px;
}

.flip-card-front .heading_8264 {
    margin-bottom: 5px;
    margin-top: -90px;
    margin-left: -15px;
    font-size: 20px;
    color: #ffffff;
}


.flip-card-front .date_8264,
.flip-card-front .code {
    font-size: 15px;
    margin: 5px 0;

}

.flip-card-front .name {
    position: absolute;
    font-size: 15px;

}

.flip-card-front .date_8264 {
    position: absolute;
    left: 10px;
    margin-top: 100px;
}

.flip-card-front .code {
    position: absolute;
    margin-top: 100px;
    left: 140px;
}


.flip-card-back {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 2px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -1px 0px inset;
    background-color: #ffa600a0;
    transform: rotateY(180deg);
    padding: 10px;
}

.flip-card-back .number {
    font-size: 16px;
    margin-bottom: 5px;
}

.flip-card-back .strip,
.flip-card-back .mstrip,
.flip-card-back .sstrip {
    width: 100%;
    height: 6px;
    background-color: #ffffff83;
    margin: 2px 0;
}

.editar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1px 3px;
    gap: 8px;
    height: 30px;
    width: 100px;
    border: none;
    background: #e8e8e8;
    cursor: pointer;
    position: absolute;
    left: 650px;
    top: 442px;
  }
  
  .lable-editar {
    line-height: 20px;
    font-size: 14px;
    color: #000000;
    font-family: sans-serif;
    letter-spacing: 1px;
  }
  
  .editar:hover {
    background: #ffffff;
  }

  .editar .svg-icon { 
    width: 15px; 
    height: 15px;
    color: #000000 !important;
  }
  
  
  .editar:hover .svg-icon {
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }


  .button-voltar {
    display: block;
    position: relative;
    width: 56px;
    height: 56px;
    margin: 0;
    overflow: hidden;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    border: 0;
    position: absolute;
    margin-right: 150px;
  }
  
  .button-voltar:before,
  .button-voltar:after {
    content: "";
    position: absolute;
    border-radius: 50%;
    inset: 7px;
  }
  
  .button-voltar:before {
    border: 4px solid #f0eeef;
    transition: opacity 0.4s cubic-bezier(0.77, 0, 0.175, 1) 80ms,
      transform 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 80ms;
  }
  
  .button-voltar:after {
    border: 4px solid #96daf0;
    transform: scale(1.3);
    transition: opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1),
      transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    opacity: 0;
  }
  
  .button-voltar:hover:before,
  .button-voltar:focus:before {
    opacity: 0;
    transform: scale(0.7);
    transition: opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1),
      transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  }
  
  .button-voltar:hover:after,
  .button-voltar:focus:after {
    opacity: 1;
    transform: scale(1);
    transition: opacity 0.4s cubic-bezier(0.77, 0, 0.175, 1) 80ms,
      transform 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 80ms;
  }
  
  .button-box {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .button-elem {
    display: block;
    width: 20px;
    height: 20px;
    margin: 17px 18px 0 18px;
    transform: rotate(180deg);
    fill: #f0eeef;
  }
  
  .button-voltar:hover .button-box,
  .button-voltar:focus .button-box {
    transition: 0.4s;
    transform: translateX(-56px);
  }
  