@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-style: normal;
    font-weight: 300;
    overflow-y: auto;
    height: 100%;
}

.cabecalho {
    display: flex;
    gap: 10px;
    padding: 10px 0px 5px 0px;
    background-color: #0A3871;
    padding: 20px;
    text-align: center;
}

.h1 {
    font-size: 38px;
    margin: 10px 0px 0px 0px;
    color: #0A3871;
}

.caixa_fundo {
    background-color: #99BFE7; 
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: auto;
    z-index: 1;
   /* text-align: center;*/
}

.titulo {
    font-size: 30px
}

.apresentacao {
    display: flex;
    flex-direction: column;
    padding: 20px 20px 0px 40px;
    font-size: 20px;
    gap: 10px;
    align-items: center;
    color: black;
}

.campos {
    font-size: 19px;
    margin: 0;
    /*color: #333;
    text-align: left;*/
    padding: 0px 0px 5px 0px;
}

.bordas {
    padding: 5px;
    border: 1px solid #ccc; /* Definindo a borda corretamente */
    border-radius: 10px;
    width: 280px;
    height: 35px; /* Ajuste da altura para o `select` */
    color: black;
    margin: 0px 0px 10px 0px;
    box-sizing: border-box; /* Garante que padding e borda sejam incluídos na largura */
}

select.bordas {
    appearance: none; /* Remove o estilo padrão da caixa de seleção */
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: white; /* Fundo branco para manter consistência */
}

.botoes {
    align-items: center;
    text-align: center;
    border-radius: 10px;
    border: 0;
    width: 200px;
    padding: 10px;
    text-decoration: none;
    font-size: 15px;
    color: white;
    background-color: #0A3871;
}

/*.hr{
    border-color: #0A3871;
    width:300px;
}*/

.cadastro {
    margin-top: 15px;
    font-size: 14px;
}

.cadastro a {
    color: #0A3871;
    text-decoration: none;
}

.cadastro a:hover {
    text-decoration: underline;
}

.centro{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0px 10px 0px;
}