<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Express.com</title>
    <link rel="stylesheet" href="../view/cadastro.css">
</head>

<body>
    <header class="cabecalho">
        <img src="images/logo.png" alt="Logotipo Express Marketplace" width="150">
    </header>

    <div class="apresentacao">
        <form class="caixa_fundo" method="POST" action="../control/control_cadastro.php"> 
            <h1 class="titulo">Fazer cadastro</h1>
            <label for="name" class="campos">Nome:</label>
            <input type="text" id="name" name="name" class="bordas" required>

            <label for="phone" class="campos">Telefone:</label>
            <input type="tel" id="phone" name="phone" class="bordas" required>

            <label for="category" class="campos">Categoria:</label>
            <select id="category" name="category" class="bordas" required>
                <option value="">Selecione</option>
                <option value="cliente">Cliente</option>
                <option value="fornecedor">Fornecedor</option>
            </select>

            <label for="email" class="campos">Email:</label>
            <input type="email" id="email" name="email" class="bordas" required>

            <label for="password" class="campos">Senha:</label>
            <input type="password" id="password" name="password" class="bordas" required>

            <label for="confirm-password" class="campos">Confirme a Senha:</label>
            <input type="password" id="confirm-password" name="confirm-password" class="bordas" required>

            <div class="centro">
                <button type="submit" class="botoes">Cadastrar</button>
            </div>

            <div class="cadastro">
                <p>Já tem uma conta? <a href="login.php">Faça login</a></p>
            </div>
        </form>
    </div>

    <hr class="hr">

</body>
</html>